@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: solid 1px red;
} */

.custom-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    149deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(98, 232, 255, 1) 77%,
    rgba(0, 212, 255, 1) 100%
  );
}
